
body {
  background-image: url(/src/data/rickandmorty/fondo888.jpg);
  background-attachment: fixed;
  background-size: cover;
}
html {
  margin: 0%;
  padding: 0%;
}
/* Mobile */
@media (max-width: 575px) {
  .character-container  {
    width: 100%;
    padding-left: 20%;
  }
 
  img{
width: 100%;

  }
}
.title {
  text-align: center;
}
.maincontainer {
  text-align: center;
}

.especies {
  margin-bottom: 2%;
  color: #c32ab8;
  font-weight: bolder;
  font-size: 17px;
  background-color: aliceblue;
  border-radius: 15%;
}

.character-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #c32ab8;
}
#boxCard {
  text-align: center;
  border: solid 2px black;
}
.name {
  font-size: 20px;
  font-weight: bolder;
}
.footer {
  text-align: center;
  border: 2px green solid;
  background-color: chartreuse;
}
i {
  color: black;
}

.created {
  font-family: "Mouse Memoirs", sans-serif;
  color: #c32ab8;
  font-size: 35px;
}
.susGeneros {
  margin-bottom: 2%;
  color: #c32ab8;
  font-weight: bolder;
  font-size: 17px;
  background-color: aliceblue;
  border-radius: 15%;

}