.logo{
    width: 90%;
    height: 400px;
    position: relative;
    left: 5%;
    right: 5%;
    } 

 body{
    background: #85caed;
    }

.tituloUno{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 300%;
    color: #5800FF;
}

.bandera{
    width: 50px;
    height: 100px;    
    position: relative;    
    margin-top: 20%;    
    left: 25% ;
    right: 25% ;
}  


.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.pNameAthletes{
    color: rgb(233, 16, 175);
    
}

.pTeamAthletes{
    color: rgb(69, 239, 22);
    
}

.pSportAthletes{
    color: aliceblue;
    

}

.pMedalAthletes{
    color: greenyellow;
    
}
.divContainerAthletes{

    border: 2px solid red;
    margin: 2%;
}

.lists{

    color: red;
    font-size: 30px;
}
