header{
    block-size: 150px;
    /* background: #FAF4B7; */
    
}

.logo{
    width: 500px;
    height: 300px;
    padding-top: 0%;
    padding-left: 35%;
    opacity: 80%;
    
    
    
    
    /* border-radius: 10px ; */
    /* box-shadow: 5px 5px 5px 5px #525a5f;  */

    } 

body{
    background: #1572A1
    ;
    
    /* filter:blur(6px) */


}


.bandera{
    width: 900px;
    height: 500px;
    opacity: 80%;
    position: relative;
    left: 25% ;
    right: 25% ;
    

    
    
    
}  